<section class="container centered">
    <div class="text-center ms-2 me-2 mt-2 mb-2"> 
        
            
            <div class="shadow card shadow-1-strong connexion_card text-center mt-2 ms-5 me-3 border-0">
                <div class="card-body p-5  d-grid gap-4">
                    <!-- logo -->
                    <div class=""><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                    
                    <!-- title box -->
                    <h3 class="mb-3">Let's go | Now Create your Library</h3>

                <form [formGroup]="LibraryForm" (ngSubmit)="submitForm()">    
                    <div class="">
                        <div class="form-group">
                            <label class="float-start">Entrez le nom de la bibliothèque</label>
                            <div class="input-group flex-nowrap">     
                                <input type="text" class="shadow form-control" formControlName="libraryname" style="height: 2.8em;" placeholder="Nom de la bibliothèque" aria-label="libraryname" aria-describedby="addon-wrapping"
                                [ngClass]="{ 'is-invalid': (isFormSubmitted && LibraryForm.get('libraryname')?.errors) || (!LibraryForm.get('libraryname')?.pristine && LibraryForm.get('libraryname')?.invalid)}">
                            </div>
                            <!-- <div style="margin-top: -0em; margin-left: -1.3em;" class="invalid-feedback form-check d-flex justify-content-start mb-3" 
                                *ngIf="(isFormSubmitted && LibraryForm.get('libraryname')?.errors) || (!LibraryForm.get('libraryname')?.pristine && LibraryForm.get('libraryname')?.invalid)">
                                <div *ngIf="LibraryForm.get('libraryname')?.errors" style="display:inline-block; text-align:left;width:150px;">4 caracteres Minimun</div>
                            </div> -->
                        </div>
                    </div> 
                       
                    <div class="mb-3">
                        <label for="formFile" class="form-label mt-3 label_position mb-1 ms-1 float-start">Ajouter un logo</label>
                        <input class="shadow form-control" type="file" id="formFile" formControlName="librarylogo"
                        [ngClass]="{ 'is-invalid': (isFormSubmitted && LibraryForm.get('librarylogo')?.errors) || (!LibraryForm.get('librarylogo')?.pristine && LibraryForm.get('librarylogo')?.invalid)}">
                    </div>      

                    <!-- login button -->
                    <div class="d-grid gap-2 mt-5">
                        <button class="shadow btn btn-style" type="submit" [disabled]="!LibraryForm.get('libraryname')?.valid">Suivant</button>
                    </div>
                </form>    
                   
                </div>
            </div>
        </div>
</section>