<section class="container">
  <!-- <div class="bar-design shadow table-radius">
    <button type="button" class="btn btn-sm btn-style table-radius shadow" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal" data-bs-dismiss="modal">Ajouter un livre</button>
  </div>
   Modal
  <div class="modal fade " id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5" tabindex="-1">
    <app-add-book-users></app-add-book-users>
  </div> -->
    <div class="shadow tab-design table-radius">
      <div>
        <table class="table">
          <app-mes-livres-card></app-mes-livres-card>
          <app-mes-livres-card></app-mes-livres-card>
          <app-mes-livres-card></app-mes-livres-card>
        </table>
      </div>
    </div>
</section>
  
  
  