// Element of the connexion Card
.connexion_card{
    border-radius: 1rem;
}

//color of button
.btn-style{
    background-color: #0379AA;
    height: 3em;
    font-weight: 700;
}

//color of the link
a{
    color: #0379AA;
}



