<section class="">
    <div class="row ms-2 me-2 mt-2 mb-2"> 
        <div class="col ms-5">

            <!-- emoji lecteur avec son texte de description - début -->
            <div class="row mt-5 mb-5 row-style">
                <div class="col mt-5">
                   <div class=""><img src="assets/signup_pic/reading.png" width="200em" alt="logo here"/></div>
                </div>
                <div class="col mt-5">
                    <div class="mt-5 me-4 "><h3 class="me-4">Read anywhere</h3>A solution to read your favorite book where and when ever you want. </div>
                </div> 
            </div>
            <!-- emoji lecteur avec son texte de description - fin -->

            <!-- emoji monde avec son texte de description - debut -->
            <div class="row mt-5 mb-5 row-style">
                <div class="col mt-5">
                   <div class=""><img src="assets/signup_pic/world.webp" width="200em" alt="logo here"/></div>
                </div>
                <div class="col mt-5">
                    <div class="mt-4"><h3 class="me-4">Read at anytime</h3>With e-lib read at anytime you favorite book and share with you friends </div>
                </div> 
            </div>
            <!-- emoji monde avec son texte de description - fin -->

            <!-- emoji horloge avec son texte de description - debut -->
            <div class="row mt-5 mb-5 row-style">
                <div class="col mt-5">
                   <div class="ms-4 "><img src="assets/signup_pic/horloge2.png" width="160em" alt="logo here"/></div>
                </div>
                <div class="col mt-5">
                    <div class="mt-5"><h3 class="me-4">Everywhere you go</h3>Bring your books with you. accessible with any device in whole world </div>
                </div> 
            </div>
            <!-- emoji horloge avec son texte de description - fin -->

        </div>

        <div class="col mt-3 mb-5">
            
            <div class="shadow card shadow-1-strong connexion_card text-center mt-2 ms-5 me-3">
                <div class="card-body p-5  d-grid gap-4">
                    <!-- logo -->
                    <div class=""><img src="assets/image.jpg" width="300em" alt="logo here"/></div>
                    
                    <!-- title box -->
                    <h3 class="mb-3">Join us | Create your account</h3>
                    
                    
                    <div class="row">
                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>

                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>

                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>

                        <!-- email input -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="float-start">Email address</label>
                                <div class="input-group flex-nowrap">     
                                    <input type="text" class="shadow form-control" style="height: 2.8em;" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="mb-3">
                        <label for="formFile" class="form-label mt-3 label_position mb-1 ms-1 float-start">Ajouter une photo</label>
                        <input class="shadow form-control" type="file" id="formFile">
                    </div>


                    <!-- login button -->
                    <div class="d-grid gap-2">
                        <button class="shadow btn btn-style" type="submit">Sign up</button>
                    </div>

                    <!-- inscription avec Google button
                    <div class="d-grid gap-2">
                        <button class="shadow bg-light border btn btn-style" type="submit"><div class="logo-btn-style"><img src="assets/logo-google.png" width="20em" alt="logo here"/> Sign up from Google</div></button>
                    </div> -->

                    <!-- informations de redirection footer -->
                    <div class="">
                        <label class="label-style-foot">Vous avez déjà un compte ? <a href="">se connecter</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>